html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* header */

header {
    padding: 3rem;
    background-color: dimgrey;
    color: white;
}

header h1 {
    font-size: 3.5rem;
}

nav {
    padding-top: 2rem;
}

header button {
    background-color: darkslategrey;
    color: white;
    padding: 1.5rem;
    width: 10-rem;


}



/* main area */

.main-area {
    margin-top: 1px;
    display: flex;
    padding-top: 10px;
}

.main-text  {
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
}

.main-photo img {
    border-radius: 2rem;
    margin-left: 4%;
}



/* image gallery */

.img-gallery-top, .img-gallery-bottom {
    margin-top: .1rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3.5rem;
}


/* footer */

.footer-content {
    background-color: darkgrey;
    margin-top: 2px;
    text-align: center;
    padding: 75px;
    font-size: 50px;


}

.footer-content button {
    background-color: coral;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 40%;
    border-radius: 0.75rem;
}

